<div class="container-fluid dsb1" style="margin-top: 79px;background: #0B223C;padding-bottom: 17px;">
  <form [formGroup]="searchForm" (ngSubmit)="searchFlight()">
    <div class="row dsb2">
      <div class="col-lg-1">
        <label>Type Here</label>
        <select class="form-control" formControlName="JourneyType">
          <option *ngFor="let c of journeyTypes" [ngValue]="c.JourneyType">{{c.name}}</option>
        </select>
      </div>
      <div formArrayName="OriginDestinationInformation" class="col-lg-7">
        <ng-container *ngFor="let mySearchForm of searchForm.get('OriginDestinationInformation').controls; let i=index">
          <div [formGroupName]="i" class="row">
            <div class="col-lg-2">
              <div class="form-group">
                <label>From</label>
                <span *ngIf="validateOriginCity(i)">
                  <p style="color: red;font-size:7px;">please Fill up this field</p>
                </span>
                <ng-template #typeaheadItemTemplate let-model="item">
                  <div class="makeFlex hrtlCenter">
                    <div class="calc60">
                      <p class="font14 appendBottom5 blackText">{{model.City}}, {{model.Country}}</p>
                      <p class="font12 greyText appendBottom3"> {{model.Value}}</p>
                    </div>
                    <div class="pushRight font14 lightGreyText latoBold">{{model.Code}}</div>
                  </div>
                </ng-template>
                <input type="hidden" formControlName="OriginLocationCode" />
                <input type="hidden" formControlName="OriginLocation" />
                <input type="hidden" formControlName="OriginAirport" />
                <input type="hidden" formControlName="DestinationLocationCode" />
                <input type="hidden" formControlName="DestinationLocation" />
                <input type="hidden" formControlName="DestinationAirport" />
                <input type="hidden" formControlName="SequenceNumber" />

                <input (click)="setDestinationNull(i)" [customTypeahead]="data"
                  [typeaheadSearchFields]="['Code', 'Value','Country','City']"
                  [typeaheadItemTemplate]="typeaheadItemTemplate" isAnimated="true" typeaheadOptionField="City"
                  [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="4"
                  (typeaheadOnSelect)="onSelectDestination($event,i)" type="text" class="form-control"
                  formControlName="OriginCity"
                  value="{{searchResult.Results.SearchRequest.OriginDestinationInformation[0].OriginCity}}" name="From">
              </div>
            </div>
            <div class="col-lg-1">
              <div style="position: relative;">
                <span><i (click)="swap(this.destinationFlight,this.arrivalFlight,i)" style=" z-index: 9999;
                      color: #065af3;
                      position: absolute;
                      cursor: pointer;
                      width: 0px;
                      height: 0px;
                      top: 38px;
                      left: 5px;" class="flight icon-exchange"></i></span>

              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                <label>To</label>
                <span *ngIf="validateDestinationCity(i)">
                  <p style="color: red;font-size:7px;">please Fill up this field</p>
                </span>
                <span *ngIf="FromToNotSame(i)">
                  <p style="color: red;font-size:7px;">From and To Airport can not be the same</p>
                </span>
                <input [customTypeahead]="data" [typeaheadSearchFields]="['Code', 'Value','Country','City']"
                  [typeaheadItemTemplate]="typeaheadItemTemplate" isAnimated="true" typeaheadOptionField="City"
                  [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="4"
                  (typeaheadOnSelect)="onSelectArrival($event,i)" (click)="setArrivalNull(i)" type="text"
                  class="form-control" formControlName="DestinationCity"
                  value="{{searchResult.Results.SearchRequest.OriginDestinationInformation[0].DestinationCity}}"
                  name="To">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label>Depart</label>
                <input (click)="d.toggle()" formControlName="DepartureDateTime" [displayMonths]="displayMonths"
                  [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers"
                  ngbDatepicker #d="ngbDatepicker" type="text" class="form-control"
                  value="{{searchResult.Results.SearchRequest.OriginDestinationInformation[0].DepartureDateTime}}">
              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                <label>Return</label>
                <input *ngIf="searchForm.value.JourneyType==2||searchForm.value.JourneyType==3"
                  class="form-control dsb-input" (click)="d.toggle()" type="text" formControlName="ReturnDateTime"
                  class="form-control" [displayMonths]="displayMonths" [navigation]="navigation"
                  [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker #d="ngbDatepicker"
                  value="{{searchResult.Results.SearchRequest.OriginDestinationInformation[0].ReturnDateTime}}">
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row col-lg-4">

        <div class="flight_passengerBox col-lg-6">
          <div id="BE_flight_paxInfoBox" class="pax-details ddn-parent flight_passengerBox">

            <div class="panel-dropdown">
              <a href="#" style="color: #518DC6;">TRAVELLERS & CLASS</a>
              <p id="traveller-summary" style="color: #fff;padding-top: 3px;">1 Traveller,Economy</p>

              <div class="panel-dropdown-content">
                <div class="row" style="margin-bottom:10px;">
                  <div class="col-7">
                    <label class="t-spinner-label">Adult</label>
                  </div>
                  <div class="col-5 no-letf-padding">

                    <input id="flt-people-adult" style="" class="t-spinner text-center" readonly="readonly" type="text"
                      value="1" name="Adults" formControlName="Adults">
                  </div>
                </div>
                <div class="row" style="margin-bottom:10px;">
                  <div class="col-7">
                    <label class="t-spinner-label">Child <span>2 - 12 yrs</span></label>
                  </div>
                  <div class="col-5 no-letf-padding">
                    <input id="flt-people-child" class="t-spinner text-center" readonly="readonly" type="text" value="0"
                      name="Children" formControlName="Children">
                  </div>
                </div>
                <div class="row" style="margin-bottom:10px;">
                  <div class="col-7">
                    <label class="t-spinner-label">Infant <span>Below 2 yrs</span></label>
                  </div>
                  <div class="col-5 no-letf-padding">
                    <input id="flt-people-infant" class="t-spinner text-center" readonly="readonly" type="text"
                      value="0" name="Infants" formControlName="Infants">
                  </div>
                </div>
                <hr style="margin: 0;" />
                <div class="row" style="margin-bottom:10px; margin-top:10px;">
                  <div class="col-6">
                    <div class="checkboxes float-left">
                      <label class="container_check"
                        style="color: #000;font-size: 1em;padding-top: 3px;font-weight: bold;">
                        Economy
                        <input type="radio" name="TravelClass" checked="checked" value="Economy" data-txt="Economy"
                          formControlName="TravelClass">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="checkboxes float-left">
                      <label class="container_check"
                        style="color: #000;font-size: 1em;padding-top: 3px;font-weight: bold;">
                        Business
                        <input type="radio" name="TravelClass" value="Business" data-txt="Business"
                          formControlName="TravelClass">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div style="margin-bottom: 31px;"></div>
          <input type="submit" class="btn btn-primary  widgetSearchBtn" value="SEARCH">
        </div>
      </div>
    </div>
  </form>
</div>



<div class="container" style="margin-top: 25px;margin-top: 25px; margin-bottom: 120px;">
  <div class="row">
    <div class="col-lg-2">
      <div class="row">
        <div class="col-lg-12" style="background: #518DC6;">
          <label class="dsb-label-color">Filter Search</label>
          
        </div>

      </div>
      <div class="row">
        
            <mat-card class="result">
                <mat-card-content>
          <h3 class="example-h2">Price</h3>
            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChange)="onUserChange($event)"></ng5-slider>
          </mat-card-content>

            </mat-card> 
            <mat-card class="result">
              <mat-card-content>
        <h3 class="example-h2">Stops</h3>
        <button mat-mini-fab color="primary" [disabled]="!list4.includes(0)" style="margin-right: 4px;" (click)="searchByStop(0)">0</button>
        <button mat-mini-fab color="primary" [disabled]="!list4.includes(1)" style="margin-right: 4px;" (click)="searchByStop(1)" >1</button>
        <button mat-mini-fab color="primary" [disabled]="!list4.includes(2)" (click)="searchByStop(2)">2</button>
       
        </mat-card-content>

          </mat-card>

      </div>
      <div class="row">
        <div class="col-lg-12"></div>
            <h2 class="my-4">Airlines</h2>
            <div *ngFor="let airline of distinctAirlines;let k=index;">
              <mat-checkbox [value]="airline" (change)="myFunc($event)" [id]="k" [name]="airline" [(indeterminate)]="indeterminate">{{airline}}</mat-checkbox>
            <!-- <a style="cursor: pointer;" (click)="searchByAirline(distinctAirlines[k])" class="list-group-item">{{distinctAirlines[k]}}</a> -->
        </div>
      
          </div>
      

      <div class="row">
          <h3 class="example-h2">From Dhaka</h3>
       
          <mat-card class="col-md-3">
            <mat-card-content>
              <i class="wi wi-horizon-alt"></i>
              <span  style="font-size: 6px;border-top: 2px solid #ddd;">00-06</span>
            </mat-card-content>
          </mat-card> 
          <mat-card class="col-md-3">
            <mat-card-content>
              <i class="wi wi-sunrise"></i>
              <span  style="font-size: 6px;border-top: 2px solid #ddd;">06-12</span>
            </mat-card-content>
          </mat-card>
          <mat-card class="col-md-3">
            <mat-card-content>
              <i class="wi wi-day-sunny"></i>
              <span  style="font-size: 6px;border-top: 2px solid #ddd;">12-18</span>
            </mat-card-content>
          </mat-card> 
          <mat-card class="col-md-3">
            <mat-card-content>
              <i class="wi wi-night-clear"></i>
              <span  style="font-size: 6px;border-top: 2px solid #ddd;">18-00</span>
            </mat-card-content>
          </mat-card>
         
        
      </div>

    </div>
    <div class="col-lg-1">

    </div>

    <div class="col-lg-9">
      <div class="row" style="background: #518DC6;">
        <div class="col-lg-2">
          <label class="dsb-label-color">Sort By:</label>
        </div>
        <div class="col-lg-3">
          <label class="dsb-label-color">Departure</label>
        </div>
        <div class="col-lg-2">
          <label class="dsb-label-color">Duration</label>
        </div>
        <div class="col-lg-2">
          <label class="dsb-label-color">Arrival</label>
        </div>
        <div class="col-lg-3">
          <label class="dsb-label-color">Price</label>
        </div>
      </div>
      <ng-container *ngFor="let groupItinerary of searchResult.Results.AllGroupedIternaries; let i=index;">

        <div class="row" style="padding-top: 30px;">
          <div class="row col-lg-6" style="background: #E5E5E5;padding-left: 0px;">
            <div class="col-lg-2" style="padding-left: 0px;"> <img style="width: 44px;height:44px;"
                src="http://airlines.a4aero.com/images/{{groupItinerary.AirlineCode}}.png"></div>
            <div class="col-lg-10"><b>
                <p style="text-align: left;font-size: 20px;">{{groupItinerary.AirlineName}}</p>
              </b></div>


          </div>
          <div class="col-lg-4" style="background: #E5E5E5;">
            <h5 style="float: right;">{{groupItinerary.Currency}}{{groupItinerary.Price}}</h5>
          </div>
          <div class="col-lg-2" style="background: #E5E5E5;padding-right: 0px">
            <button class="btn btn-primary widgetSearchBtn" style="float: right;padding-bottom: 13px;" (click)="selectPricedItinerary(i)">BOOK NOW</button>
          </div>

        </div>
        <div class="row">
          <ng-container
            *ngFor="let option of groupItinerary.GroupedOriginDestinationOptions[0].GroupedOriginDestinations; let j=index;">
              <div class="row col-lg-12" *ngIf="j==0">
                <span class="radio col-lg-2">
                  <input class="radioSelect" type="radio"  name="radioDestination" value="{{option.Id}}" (change)="radioChangeHandler1($event)">
                </span>
                
                <div class="col-lg-3">
                  <h3>{{option.DepartureDate | date:'HH:mm'}}</h3>
                  <p>{{option.DepartureCity}}</p>
                
                </div>
                <div class="col-lg-4">
                  <p style="text-align: center">{{option.JourneyDuration | myTime}}</p>
                  <hr />
                  <p style="color: #4B8AC8; text-align: center">{{option.Stops}} Stop</p>
                </div>
                <div class="col-lg-3">
                  <h3>{{option.ArrivalDate | date:'HH:mm'}}</h3>
                  <p>{{option.ArrivalCity}}</p>
                </div>
              </div>
              <div class="col-lg-12" *ngIf="show==groupItinerary.GroupId">
                <div *ngIf="j>=1" class="row">
                    <span class="radio col-lg-2">
                      <input class="radioSelect" type="radio" name="radioDestination" value="{{option.Id}}" (change)="radioChangeHandler1($event)">
                    </span>
                
                    <div class="col-lg-3">
                      <h3>{{option.DepartureDate | date:'HH:mm'}}</h3>
                      <p>{{option.DepartureCity}}</p>
                    
                    </div>
                    <div class="col-lg-4">
                      <p style="text-align: center">{{option.JourneyDuration | myTime}}</p>
                      <hr />
                      <p style="color: #4B8AC8; text-align: center">{{option.Stops}} Stop</p>
                    </div>
                    <div class="col-lg-3">
                      <h3>{{option.ArrivalDate | date:'HH:mm'}}</h3>
                      <p>{{option.ArrivalCity}}</p>
                    </div>
                </div>
               
              </div>
          </ng-container>
           
            <p><a #loadMoreBtn style="color: #fff;" *ngIf="groupItinerary.GroupedOriginDestinationOptions[0].GroupedOriginDestinations.length>2" (click)="loadMore(groupItinerary.GroupId);" class="view-more-btn">More Options</a></p>
            <ng-container *ngIf="searchResult.Results.SearchRequest.JourneyType==2">
            <ng-container
            *ngFor="let option of groupItinerary.GroupedOriginDestinationOptions[1].GroupedOriginDestinations; let j=index;">
              <div *ngIf="searchResult.Results.SearchRequest.JourneyType==2 && j==0" class="row col-lg-12" style="background: #f9f9f9;">
                  <span class="radio col-lg-2"><input class="radioSelect" type="radio" name="radioReturn" value="{{option.Id}}" (change)="radioChangeHandler2($event)"></span>
                
                  <div class="col-lg-3">
                    <h3>{{option.DepartureDate | date:'HH:mm'}}</h3>
                    <p>{{option.DepartureCity}}</p>
                  
                  </div>
                  <div class="col-lg-4">
                    <p style="text-align: center">{{option.JourneyDuration | myTime}}</p>
                    <hr />
                    <p style="color: #4B8AC8; text-align: center">{{option.Stops}} Stop</p>
                  </div>
                  <div class="col-lg-3">
                    <h3>{{option.ArrivalDate | date:'HH:mm'}}</h3>
                    <p>{{option.ArrivalCity}}</p>
                  </div>
              </div>
              <div class="col-lg-12" *ngIf="show==groupItinerary.GroupId">
              <div *ngIf="searchResult.Results.SearchRequest.JourneyType==2 && j>=1" class="row" style="background: #f9f9f9;">
                  <span class="radio col-lg-2"><input class="radioSelect" type="radio" name="radioReturn" value="{{option.Id}}" (change)="radioChangeHandler2($event)"></span>
                
                  <div class="col-lg-3">
                    <h3>{{option.DepartureDate | date:'HH:mm'}}</h3>
                    <p>{{option.DepartureCity}}</p>
                  
                  </div>
                  <div class="col-lg-4">
                    <p style="text-align: center">{{option.JourneyDuration | myTime}}</p>
                    <hr />
                    <p style="color: #4B8AC8; text-align: center">{{option.Stops}} Stop</p>
                  </div>
                  <div class="col-lg-3">
                    <h3>{{option.ArrivalDate | date:'HH:mm'}}</h3>
                    <p>{{option.ArrivalCity}}</p>
                  </div>
              </div>
              </div>
            </ng-container>
            </ng-container>
            <p *ngIf="searchResult.Results.SearchRequest.JourneyType==2"><a style="color: fff;" *ngIf="groupItinerary.GroupedOriginDestinationOptions[1].GroupedOriginDestinations.length>2" (click)="loadMore(groupItinerary.GroupId)" class="view-more-btn">More Options</a></p>

        
          </div>



        <div class="row" style="border-top: 1px solid #ddd;">
          
          <mat-tab-group>
              <mat-tab isActive="false">
                <ng-template mat-tab-label>
                    <i class="flight icon-flight"></i>
                  Itinerary
                </ng-template>
                Content 1
              </mat-tab>
            
              <mat-tab>
                <ng-template mat-tab-label>
                    <i class="flight icon-box"></i>
                  Fare Details
                </ng-template>
                Content 2
              </mat-tab>
            
              <mat-tab>
                <ng-template mat-tab-label>
                    <i class="flight icon-tag-3"></i>
                  Fare Rules
                </ng-template>
            
                Content 3
              </mat-tab>
              <mat-tab>
                  <ng-template mat-tab-label>
                      <i class="flight icon-bag"></i>
                    Baggage Info
                  </ng-template>
                   <ng-template matTabContent>
                    <p>how are you?   </p>
                   </ng-template>
                 
                </mat-tab>
            </mat-tab-group>




        </div>
      </ng-container>
    </div>

  </div>

</div>







<ng-template #popItinerary>
  
  <a class="md-btn md-btn-success"
   [class.disabled]="isClickedOnce"
   (change)="isClickedOnce = true">Start</a>
</ng-template>

